---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "shared/bootstrap",
        "shared/variables",
        "shared/sharedstyle",
        "shared/nav",
        "shared/footer",
        "style";

#license-info {
	padding-top: 50px;
	padding-bottom: 0px;
	padding-left: 15%;
	padding-right: 15%;
	h4 {
		color: #ee914b;
	}
	p {
		color: white;
		font-size: 11pt;
	}	
}
