#developer-playground{
  background-color:#232c31;
  padding:50px 0;

  p.h2  {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
  }

}

.h2 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 2px;
}

.desc {
  padding-top: 50px;
}


.instruction {
  margin-top: 240px;
  text-align: center;
}

.region-list {
  margin-top: 40px;
}
.run {
  margin-top: $spacing-unit + 30px;
  margin-bottom: $spacing-unit + 30px;
  text-align: center;
}

.custom-popup#map-view {
  color:black;
}

.queryBuilder-container {
  margin-right: auto;
  margin-left: auto;
}

.dropdown{
  height: 42px;
  margin-left:5px;
  background-image : url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgNDIiPjxzdHlsZT4uc3Qwe2ZpbGw6IzY1QUQ0NTt9PC9zdHlsZT48cGF0aCBpZD0iWE1MSURfMV8iIGNsYXNzPSJzdDAiIGQ9Ik0zMCAyMC43bC01IDguNy01LTguN3oiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right center;
  vertical-align: baseline;
  border-bottom: 3px dashed $logo-color-5;

}

#entityMenu,#parameterMenu{
  width:250px;
}

#toggle-container{
  height: 70px;
  text-align: center;

  .coming-soon {
    color: #fff;
    font-size: $small-font-size;
    font-weight: 300;
    line-height: 50px;
  }
}

#nameMenu{
  width: 950px;
  height: 30px;
  margin-top: 40px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzAgMzAiPjxzdHlsZT4uc3Qwe2ZpbGw6IzY1QUQ0NTt9PC9zdHlsZT48cGF0aCBpZD0iWE1MSURfMV8iIGNsYXNzPSJzdDAiIGQ9Ik0zMCA1LjZsLTUgOC44LTUtOC44aDEweiIvPjwvc3ZnPg==);
  select {
    width: 100%;
    position: absolute;
    top: -15px;
  }
}


#locationMenu{
  height:30px;
  margin-top:50px;
}

.form-control {
  width:auto;
  height:35px;
  padding: 1px 0;
  margin:0 auto;
  border:0;
  font-weight:400;
  background-color: transparent;
  -webkit-appearance: none;  
  -moz-appearance: none;  
  color:#fff;
  text-transform: uppercase;
  vertical-align: text-top;
  text-align: center;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #fff;
  text-align: center;
  cursor:pointer;

}


/* Custom default button */

.btn-run{
  box-sizing : border-box;
  padding:15px 20px;
  font-weight:700;
  font-size:24px;
  letter-spacing: 3.1px;
  text-shadow: none; 
  color: white;
  background-color: #8ac418;
  border: 0px solid #8ac418;
  /*font-size: 16px;*/
  outline:none;
  border-radius: 0px;
}

.btn-run:hover,.btn-run:active,.btn-run:focus{
  box-shadow: none;
  text-shadow: none; /* Prevent inheritence from `body` */
  outline:none;
  color: white;
  border: 0px solid #8ac418;
  background-color: #5a881d;
  border-radius: 0px;
}

.btn-location{

  background-color :transparent;
  border-radius : 0px;
  border-style: solid;
  border-color : #fff;
  color : #fff;
  font-size:18px;
  letter-spacing: 0.8px;
  padding: 6px 6px;

}

.btn-location.selected{
  background-color:#fff;
  color:#232C31;
}

.btn-location:hover,.btn-location:active{

  box-shadow: none;
  text-shadow: none; /* Prevent inheritence from `body` */
  outline:none;
  background-color:#cecece;

}

.btn-location:focus{

  box-shadow: none;
  text-shadow: none; /* Prevent inheritence from `body` */
  outline:none;

}

.btn-location:nth-child(1){
  border-width: 3px ;
}
.btn-location:nth-child(2){
  border-width: 3px 3px 3px 0;
}

.btn-download{
  border-radius : 0px;
}

.btn-download:hover,.btn-download:active,.btn-download:focus{
  
  background-color:#cecece;

}



.btn-inactive{
  border: 0px solid #8ac418;
  outline:#8ac418;
  background-color: #5a881d;
}

option{
  margin: 2px auto;
  text-align: center;
}
.form-control:focus{
  border:0;
  box-shadow:none;
}

.hide{
  display:none;
}

//loading spinner animation
@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spinning {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinning {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

#loading {

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  z-index: 30;

  &::before {
    content: ' ';
    position: fixed;
    top: 55%;
    left: calc(50% - 50px) ;
    width: 100px;
    height: 100px;
    z-index: 20030;
    border-radius: 50%;
    border: 15px solid $logo-color-4;
    border-top-color: transparent;
    color: #fff;
    animation: spinning 1s infinite linear;
    -webkit-animation: spinning 1s infinite linear;
    -moz-animation: spinning 1s infinite linear;
  }
  &::after {
    content: 'Loading';
    position: fixed;
    top: calc(55% + 40px);
    left: calc(50% - 24px);
  }
}



.no-result{
  position:fixed;
  top:55%;
  left:50%;
  width:280px;
  margin-left:-140px;
  padding:10px;
  font-size:20px;
  text-align: center;
  background-color:rgba(255,255,255,1.0);
  color:rgba(0,0,0,1.0);
  z-index:1030;
}

#map-view{
  width:100vw;
  height:500px;
}

.container{
  padding:0px 5.55%;
  position:relative;
  top:10%;
  width:100%;
  margin:0 auto;
}

@include media-query($on-pad){

  #developer-playground{
    margin-bottom:0;
  }

  span{
    display:block;
  }

  .instruction{
    margin-top:100px;
  }

  .h2{
    font-weight:400;
    letter-spacing: 1.5px;
  }
  .s-text{
    font-size:$small-font-size;
    letter-spacing:1px;
  }

  #nameMenu{
    width:95%;
    height:42px;
  }
  #nameMenu select{
    width:100%;
    position:absolute;
    top:0px;
  }

  #locationMenu{
    height:42px;
  }
  option{
    text-transform: capitalize;;
    margin: 2px auto;
  }
}

@include media-query($on-palm){
  .s-text{
    font-size:$small-font-size * 0.85;
    letter-spacing:0.8px;
  }

}