.h2{
  font-weight:400;
  font-size: $base-font-size;
  letter-spacing: 2px;
}
.col-1{color:$logo-color-1;}
.col-2{color:$logo-color-2;}
.col-3{color:$logo-color-3;}
.col-4{color:$logo-color-4;}
.col-5{color:$logo-color-5;}

.desc{
  padding-top:50px;
}

.white-text{
  color:#fff;
}

.center-text{
  text-align: center;
}

.instruction{
  margin-top:250px;
  text-align: center;
}
.run{
  margin-top:$spacing-unit;
  margin-bottom:$spacing-unit;
  text-align: center;
}

#developer-playground{
  background-color:#232c31;
  padding:50px 0;
  margin-bottom:$footer-h;
}

#developer-playground p.h2{
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

.custom-popup#map-view {
  color:black;
}
 
.queryBuilder-container {
  margin-right: auto;
  margin-left: auto;
}

.dropdown{
  height:42px;
  margin-right:5px;
  margin-left:5px;
  background-image : url('../images/icon_dropdown.png');
  background-repeat: no-repeat;
  background-position: right center;
  vertical-align: baseline;
  border-bottom: 3px dashed $logo-color-5;

}

#entityMenu,#parameterMenu{
  width:250px;
}

#toggle-container{
  height:110px;
  text-align: center;
}

#nameMenu{
  width:950px;
  height:30px;
  margin-top:40px;
}

#nameMenu select{
  width:100%;
  position:absolute;
  top:-15px;
}

#locationMenu{
  height:30px;
  margin-top:40px;
}

.form-control {
  width:auto;
  height:35px;
  padding: 1px 0;
  margin:0 auto;
  border:0;
  font-weight:400;
  background-color: transparent;
  -webkit-appearance: none;  
  -moz-appearance: none;  
  color:#fff;
  text-transform: uppercase;
  vertical-align: text-top;
  text-align: center;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #fff;
  text-align: center;
  cursor:pointer;

}


/* Custom default button */

.btn-run{
  box-sizing : border-box;
  padding:15px 20px;
  font-weight:700;
  font-size:24px;
  letter-spacing: 3.1px;
  text-shadow: none; 
  color: white;
  background-color: #8ac418;
  border: 0px solid #8ac418;
  /*font-size: 16px;*/
  outline:none;
  border-radius: 0px;
}

.btn-run:hover,.btn-run:active,.btn-run:focus{
  box-shadow: none;
  text-shadow: none; /* Prevent inheritence from `body` */
  outline:none;
  color: white;
  border: 0px solid #8ac418;
  background-color: #5a881d;
  border-radius: 0px;
}

.btn-location{

  background-color :transparent;
  border-radius : 0px;
  border-style: solid;
  border-color : #fff;
  color : #fff;
  font-size:18px;
  letter-spacing: 1px;

}

.btn-location.selected{
  background-color:#fff;
  color:#232C31;
}

.btn-location:hover,.btn-location:active{

  box-shadow: none;
  text-shadow: none; /* Prevent inheritence from `body` */
  outline:none;
  background-color:#cecece;

}

.btn-location:focus{

  box-shadow: none;
  text-shadow: none; /* Prevent inheritence from `body` */
  outline:none;

}

.btn-location:nth-child(1){
  border-width: 3px ;
}
.btn-location:nth-child(2){
  border-width: 3px 3px 3px 0;
}

.btn-download{
  border-radius : 0px;
}

.btn-download:hover,.btn-download:active,.btn-download:focus{
  
  background-color:#cecece;

}



.btn-inactive{
  border: 0px solid #8ac418;
  outline:#8ac418;
  background-color: #5a881d;
}

option{
  margin: 2px auto;
  text-align: center;
}
.form-control:focus{
  border:0;
  box-shadow:none;
}

.hide{
  display:none;
}

#loading{
  background-image:url("../images/loader.gif");
  background-size:cover;
  position:fixed;
  top:55%;
  left:50%;
  width:80px;
  height:80px;
  z-index:1030;
}

.no-result{
  position:fixed;
  top:55%;
  left:50%;
  width:280px;
  margin-left:-140px;
  padding:10px;
  font-size:20px;
  text-align: center;
  background-color:rgba(255,255,255,1.0);
  color:rgba(0,0,0,1.0);
  z-index:1030;
}

#map-view{
  width:100vw;
  height:500px;
}

.container{
  padding:0px 5.55%;
  position:relative;
  top:10%;
  width:100%;
  margin:0 auto;
}

@include media-query($on-pad){

  #developer-playground{
    margin-bottom:0;
  }

  span{
    display:block;
  }

  .instruction{
    margin-top:100px;
  }

  .h2{
    font-weight:400;
    font-size:$medium-font-size;
    letter-spacing: 1.5px;
  }
  .s-text{
    font-size:$medium-font-size;
    letter-spacing:1px;
  }

  #nameMenu{
    width:95%;
    height:42px;
  }
  #nameMenu select{
    width:100%;
    position:absolute;
    top:0px;
  }

  #locationMenu{
    height:42px;
  }
  option{
    text-transform: capitalize;;
    margin: 2px auto;
  }
}

@include media-query($on-palm){
  .s-text{
    font-size:$small-font-size;
    letter-spacing:0.8px;
  }

}