---
navigation:
- text: HOME
  url: http://transit.land
- text: HOW IT WORKS
  url: http://transit.land/how-it-works/
- text: PLAYGROUND
  url: /
- text: AN OPEN PROJECT
  url: http://transit.land/an-open-project/
- text: PARTICIPATE
  url: http://transit.land/participate/
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Transitland Developer Playground</title>
  <link href='//fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link href="/css/backgrid.css" rel='stylesheet' />
  <link href="/css/MarkerCluster.css" rel="stylesheet" />
  <link href="/css/MarkerCluster.Default.css" rel="stylesheet" />
  
  <link rel="stylesheet" href="/css/main.css">
  <!-- <link href="/assets/leaflet.css" rel='stylesheet' /> -->

  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>


  <script src="/js/lib/leaflet.markercluster-src.js"></script>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/underscore.js"></script>
  <script src="/js/lib/backbone.js"></script>
  <script src="/js/lib/backgrid.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script>
    var API_HOST = "http://datastore.transit.land";
  </script>
 
</head>
    <nav class="navbar col-lg-12 col-md-12 col-sm-12">
      <a href="/">
      <div class="logo-image"></div>
      </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">
          <!--<span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>-->
          MENU
        </button>
      </div>
      <div id="nav-menu-helper"></div>
      <div id="nav-menu-bar" class="navbar-collapse collapse">
        <div class="nav-menu">
          {% assign url = page.url|remove:'index.html' %}
            {% for link in page.navigation %}
              <div class="float-left">
                <a {% if url == link.url %}class="selected"{% endif %} href="{{link.url}}" target="_self">
                  <div class="circle"></div>
                  <div class="main">
                    {{link.text}}
                  </div>
                </a>
              </div>
            {% endfor %}
        </div>
      </div><!--/.navbar-collapse -->
    </nav>

    {{ content }}

  </body>
</html>
